@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply bg-bg text-gray-200 leading-relaxed;
    background: #0A0E1A;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-gray-200/10 rounded-full;
  }
}
